/**
Alex Scott
INF 133 -> Midterm Project
**/

/* Source sans pro font that will be used for all text */
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,300italic,400italic");

/* Reset HTML elements so that resizing does not affect overall layout size */
html,body,div,span,h1,h2,h3,h6,p,strong,i,article,footer,header,nav,section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, footer, nav, header, section {
    display: block;
}

body {
    line-height: 1;
    -webkit-text-size-adjust: none; /* issue with navigation icons */
}

/************************/
/* Basic CSS properties */
/************************/
html
{
    font-family: 'Source Sans Pro', sans-serif; /* default font */
    font-weight: 300;   /* normal weight */
}
body
{
    background: #DAE2F8; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #D6A4A4, #DAE2F8); /* Chrome 10-25/Safari 5.1-6 */
    background: linear-gradient(to left, #D6A4A4, #DAE2F8); /* W3C standard */
    background-repeat: repeat, no-repeat;
    background-size: auto, 100% 100%;
    color: #777777;
}
strong, h1, h2, h3, h6
{
    font-weight: 400; /* bold weight */
    color: #363636;
}

/* Images */
.image img
{
    display: block;
    width: 100%;
}
header > p {
    color: #AAAAAA;
}

/* Font-Awesome icon positioning for navigation */
.glyph {
    position: relative;
    text-decoration: none;
}

/* Navigation */
#nav a {
    position: relative;
    display: inline-block;
    color: #FFFFFF;
    width: 1em;
    height: 1em;
    line-height: 0.8em;
}
#nav a.glyph:before {
    padding-right: 0;
}

/* Panels */
#main {
    position: relative;
    overflow: hidden;
}
.panel {
    position: relative;
}
#home .home-picture {
    position: relative;
    display:block;
}
#footer {
    color: rgba(255, 255, 255, 0.6);
}
#footer a {
    color: #DDDDDD;
    -moz-transition: color .25s ease-in-out;
    -webkit-transition: color .25s ease-in-out;
    transition: color .25s ease-in-out;
}
#footer a:hover {
    color: #FFFFFF;
}

/* DESKTOP */
@media screen and (min-width: 860px) {

    /* Basic */
    html {
        min-width: 100%;
        min-height: 100%;
    }
    body {
        width: 100%;
        min-width: 100%;
        min-height: 100%;
        overflow-y: scroll;
        background-attachment: fixed;
        font-size: 14pt;
        line-height: 1.75em;
    }

    h1 {  font-size: 2.4em;   }
    h2 {  font-size: 1.8em;   }

    header      {  margin: 0 0 1.5em 0;   }
    header > p  {  margin: 0.5em 0 0 0;   }

    #wrapper {
        width: 45em;
        margin: 0 auto;
        opacity: 0.00001;
    }

    /* Navigation */
    #nav {
        text-align: center;
        height: 4.25em;
        cursor: default;
    }

    #nav a {
        font-size: 2.5em;
        margin: 0 0.25em 0 0.25em;
        opacity: 0.7;
        outline: 0;
        -moz-transition: opacity .25s ease-in-out;
        -webkit-transition: opacity .25s ease-in-out;
        transition: opacity .25s ease-in-out;
    }

    #nav a:before {  font-size: 0.8em;  }

    /* Triangle under active nav link */
    #nav a:after {
        content: '';
        display: block;
        position: absolute;
        left: 50%;
        bottom: -0.75em;
        margin-left: -0.5em;
        border-bottom: solid 0 #ffffff;
        border-left: solid 0.5em transparent;
        border-right: solid 0.5em transparent;
        -moz-transition: border-bottom-width .25s ease-in-out;
        -webkit-transition: border-bottom-width .25s ease-in-out;
        transition: border-bottom-width .25s ease-in-out;
    }

    #nav a:hover {  opacity: 1.0;  }
    #nav a.active {  opacity: 1.0;  }
    #nav a.active:after {  border-bottom-width: 0.5em;  }

    /* Panels */
    #main {
        width: 45em;
        background: #FFFFFF;
        box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.25);
    }

    .panel {
        padding: 3.5em 2.5em 3.5em 2.5em;
        top: 0;
        left: 0;
        width: 45em;
    }

    /* Home */
    #home {
        padding: 0;
        height: 20em;
    }
    #home .home-picture {
        display: block;
        position: absolute;
        right: -1px;
        top: 0;
        height: 100%;
        text-decoration: none;
    }
    #home .home-picture img {
        position: relative;
        display: block;
        height: 100%;
    }
    #home header {
        position: absolute;
        left: 0;
        top: 0;
        width: 53%;
        height: 100%;
        margin-left: 2.5em;
    }
    #home header > h1 {
        position: absolute;
        left: 0;
        bottom: 80%;
        margin: 0;
    }
    #home header > p {
        position: absolute;
        left: 0;
        top: 30%;
        font-size: 1em;
        letter-spacing: -0.015em;
        margin-top: 0;
    }

    /* Portfolio */
    #portfolio h6 {
        font-size: 1em;
        letter-spacing: -0.015em;
        text-align:center;
        color: #888888;
        -o-transition:.5s;
        -moz-transition:.5s;
        -webkit-transition:.5s;
        transition:.2s;
    }
    #portfolio h6:hover {
        color: #000000;
    }

    /* Footer */
    #footer {
        text-align: center;
        padding: 2em 0 0 0;
        font-size: 0.75em;
    }
}


/* TABLET */
@media screen and (max-width: 859px) {

    /* Basic */
    body {
        font-size: 11pt;
        line-height: 1.75em;
    }
    h1, h2 {  font-size: 1.75em;  }
    h6 {  font-size: 1.25em;  }
    header { margin: 0 0 1.5em 0;  }
    header > p {  margin: 0.5em 0 0 0; }

    /* Wrapper */
    #wrapper {  padding: 7px;  }

    /* Navigation */

    #nav {
        text-align: center;
        margin: 6px 0 8px 0;
    }

    #nav a {
        font-size: 2em;
        opacity: 0.5;
        outline: 0;
        width: 1.5em;
        height: 1.5em;
        line-height: 1.35em;
        margin: 0 0.25em 0 0.25em;
    }

    #nav a:active {
        opacity: 1.0;
    }

    /* Panels */
    #main {
        background: none;
    }

    .panel {
        padding: 15px 15px 15px 15px;
        margin: 0 0 7px 0;
        background: #ffffff;
        box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.25);
    }

    .panel header {
        padding-top: 1em;
    }

    /* Home */

    #home .home-picture {
        width: 100%;
    }

    #home .home-picture img {
        display: block;
        width: 100%;
    }


    #home header {
        text-align: center;
    }

    #home header > h1 {
        font-size: 2.15em;
        letter-spacing: -0.025em;
    }

    #home header > p {
        font-size: 1.25em;
    }

    /* Footer */

    #footer {
        text-align: center;
        padding: 2em 0 0 0;
        font-size: 0.85em;
    }
}